.slider {
  display: flex;
  position: relative;
  height: 50vh;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image {
  width: 900px;
  height: 300px;
  max-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 400px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 10px 5px;
  border-radius: 20px;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 400px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 10px 5px;
  border-radius: 20px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 767px) {
  .slider {
    position: relative;
    height: 4vh;
  }

  .image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 5%;
  }

  .right-arrow {
    top: 250%;
    right: 32px;
    font-size: 1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
  }
  .left-arrow {
    top: 250%;
    left: 32px;
    font-size: 1rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}
