.ItemList-title {
  text-align: center;
}

.ItemList-container {
  display: grid;
  grid-template-areas: "a a a a";
  grid-gap: 30px;
  grid-auto-columns: auto;
  justify-content: center;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .ItemList-container {
    display: grid;
    grid-template-areas: "a a";
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .ItemList-container {
    display: grid;
    grid-template-areas: "a a";
  }
}

@media screen and (max-width: 767px) {
  .ItemList-container {
    grid-template-areas: "a";
  }
}
