.CardsFormation {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
.formation {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.advice {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.title {
  font-size: 4vh;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  color: #ffffff;
  color: #333333;
  background: #ffffff;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  color: #333333;
  background: #ffffff;
}
.cardsformation-title {
  margin: 15vh;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardsformation-title {
    font-size: 28px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
