.Header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #e19e20;
  color: #fff;
  line-height: 0px;
  font-family: "Courier New", Courier, monospace;
}

.Header-logo {
  width: 300%;
  padding: 10% 0% 10%;
}

.header-text1 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.header-text2 {
  display: flex;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.Logo {
  width: 50px;
  margin-left: 20px;
}
.header-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.header-phone > a,
.header-mail > a {
  color: #1e4a6d;
  padding-bottom: 5px;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  margin-right: 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #1e4a6d;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: #6f94bc;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.header-link {
  text-decoration: none;
  color: #e19e20;
  cursor: pointer;
  font-size: 25px;
  padding: 18px 0;
}

@media screen and (max-width: 767px) {
  .Header {
    width: 100%;
    display: block;
  }

  .Header-logo {
    width: 70px;
    top: 0;
    padding: 10px;
  }

  .header-text1 {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    line-height: 0.9rem;
    transform: translate(-40%, -50%);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .header-text2 {
    display: block;
    position: absolute;
    left: 50%;
    line-height: 1rem;
    transform: translate(-40%, -120%);
    font-size: 13px;
    font-weight: bold;
  }

  .header-link {
    font-size: 12px;
  }

  .header-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: 0.7em;
    margin-top: 10px;
  }
  .header-phone > a,
  .header-mail > a {
    color: #1e4a6d;
    padding-bottom: 5px;
  }
  button.favorite.styled {
    margin: 5px auto;
  }
}
