.Navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.navigation-link, .navigation-button {
  display: flex;
  background: none;
  border: none;
  text-decoration: none;
  color: #E19E20;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 50px;
  flex-direction: row;
}

.item-link {
  color: #875300;
  font-size: 30px;
  text-decoration: none;
}

.dropdown.active>.navigation-link,
.navigation-link:hover {
  color: #6F94BC;
}

.dropdown.active>.navigation-button,
.navigation-button:hover {
  color: #6F94BC;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: lightgray;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .1);
  opacity: 0;
}

.dropdown-link {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 2rem;
}

.dropdown:hover {
  .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.dropdown-menu {
	opacity: 0;
	transition: transform .5s cubic-bezier(0.88,-0.72, 0, 1), opacity .5s ease-in-out;
	transform: translateY(-0.5rem);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	// background: rgba(225,255,225,.9);
  background : white;
	a {
		font-weight: 300;
		font-size: 1.2rem;
	}
}