.Navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.navigation-link {
  display: flex;
  background: none;
  border: none;
  text-decoration: none;
  color: #e19e20;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  font-size: 50px;
  flex-direction: row;
}

.item-link {
  color: #875300;
  font-size: 30px;
  text-decoration: none;
}

.link-formation {
  display: flex;
  flex-direction: column;
}

.dropdown.active > .navigation-link,
.navigation-link:hover {
  color: #6f94bc;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 0.25rem);
  background-color: lightgray;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 10;
}

.dropdown.active > .navigation-link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-link {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 2rem;
}
