.files-ol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
}

/* .files-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline ;
    width: 60%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 100px;
    margin-left: 100px;
} */